.wall {
    display: grid;
    grid-area: wall;
    /*background-color: aliceblue;*/
    grid-template-areas:
        "new"
        "posts";
    grid-template-rows: 1fr;
    grid-template-columns: 10fr;
    /*grid-gap: 1vmin;*/
}

.new {
    display: grid;
    grid-area: new;
    /*background-color: blueviolet;*/
    grid-template-areas:
            "form"
            "buttons";
    grid-template-rows: 1fr;
    grid-template-columns: 10fr;
    padding-top: 5px;
}
.form {
    grid-area: form;
    text-align: center;
}

.buttons {
    grid-area: buttons;
    text-align: center;
}
.posts {
    grid-area: posts;
    /*background-color: brown;*/
    padding: 5px;
}
