.wrapper {
    display: grid;
    margin: 0 auto;
    width: 1280px;
    grid-template-areas:
            "header header"
            "menu content"
            "footer footer";
    grid-template-rows: 150px 10fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 1vmin;*/
}

.content {
    display: grid;
    grid-area: content;
    background-color: coral;
}
